{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_meta %}
<meta name="description" content="Contact">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_title %}Contact{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-white">
            <hr class="my-4">
            <h1 class="font-semibold text-2xl mb-4">Contact Us</h1>
            <hr class="my-4">
            <p class="my-2">Want to get in touch? Please fill out the form below to contact Mikey.</p>
            <hr class="my-4">
            <form method="POST" class="mt-4 mx-auto" style="max-width: 600px;">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-4">
                    <button type="submit" class="bg-primary-500 hover:bg-primary-700 text-white rounded py-2 px-4">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}